/* MessageInput.css */
.message-input-container {
    position: fixed;
    bottom: 14px;
    left: 388px;
    /* Sidebar width */
    right: 165px;
    padding: 8px;
    background-color: white;
    border-top: 1px solid #e5e5e5;
    border-radius: 20px;
    box-shadow: rgba(112, 144, 176, 0.18) 14px 17px 40px 4px;
}

form {
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
}

textarea {
    flex-grow: 1;
    padding: 12px;
    border: 1px solid #d1d5db;
    border-radius: 20px;
    font-family: inherit;
    font-size: 14px;
    resize: none;
    overflow-y: hidden;
    min-height: 24px;
    max-height: 200px;
    line-height: 1.5;
}

textarea:focus {
    outline: none;
    border-color: rgb(39, 26, 221);
    box-shadow: 0 0 0 2px rgba(39, 26, 221, 0.2);
}

.send-button {
    background-color: #7269f7;
    color: white;
    border: none;
    border-radius: 11px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.send-button:hover {
    background-color: #271add;
}

.send-button:disabled {
    background-color: #d1d5db;
    cursor: not-allowed;
}

.send-button svg {
    width: 20px;
    height: 20px;
}

.file-upload-button {
    /* background-color: #7269f7; */
    color: #7269f7;
    border: none;
    border-radius: 11px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-bottom: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.file-upload-button:hover {
    background-color: #271add;
}

.file-upload-button:disabled {
    background-color: #d1d5db;
    cursor: not-allowed;
}

.file-upload-button svg {
    width: 40px;
    height: 40px;
}

.selected-file-info {
    font-size: 12px;
    color: #6b7280;
    margin-top: 8px;
    text-align: center;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
    .message-input-container {
        left: 0;
    }
}